<!DOCTYPE html>
<html lang="en" ng-app="myNetwork">
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>My Network</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/stylesheets/bootstrap.cosmo.css"> -->
	<link rel="stylesheet" href="/stylesheets/angular-csp.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  