	<!-- <script src="/javascripts/vendor/jquery-1.11.1.min.js"></script> -->
	<!-- <script src="javascripts/vendor/bootstrap.min.js"></script> -->
	<script src="/javascripts/vendor/angular.min.js"></script>
	<script src="/javascripts/vendor/angular-ui-router.min.js"></script>
	<script src="/javascripts/vendor/ui-bootstrap-0.12.1.min.js"></script>
	<script src="/javascripts/auth/authController.js"></script>
	<script src="/javascripts/auth/authService.js"></script>
	<script src="/javascripts/config/stateProvider.js"></script>
	<script src="/javascripts/helper/constants.js"></script>
	<script src="/javascripts/helper/filters.js"></script>
	<script src="/javascripts/post/postController.js"></script>
	<script src="/javascripts/post/postService.js"></script>
	<script src="/javascripts/home/mainController.js"></script>
	<script src="/javascripts/home/navController.js"></script>
	<script src="/javascripts/user/userService.js"></script>
	<script src="/javascripts/user/userController.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</body>
</html>