<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
		<form ng-submit="changePassword()" class="form-group">
			<h3>Change Password</h3>
			<hr>
			<input type="password" class="form-control" placeholder="Current password" ng-model="user.currentPassword">
			<br>
			<input type="password" class="form-control" placeholder="New password" ng-model="user.newPassword">
			<br>
			<input type="password" class="form-control" placeholder="Confirm new password" ng-model="user.verifyNewPassword">
			<br>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
		<br>
		<span class="text-danger" ng-if="messages.error">{{messages.error}}</span>
		<span class="text-success" ng-if="messages.success">{{messages.success}}</span>
	</div>
</div>