<h3>Tìm người dùng</h3>
<hr>
<form class="input-group">
	<input type="text" autofocus ng-model="search.user" class="form-control" placeholder="Nhập tên người dùng cần tìm..." typeahead="user for user in findUser($viewValue)" typeahead-template-url="searchResults.html">
	<span class="input-group-btn"><button class="btn btn-primary" ng-click="goto(search.user)"><span class="glyphicon glyphicon-arrow-right"></span></button></span>
</form>
<br>
<p ng-if="messages.error" class="text-danger">{{messages.error}}</p>
<script type="text/ng-template" id="searchResults.html">
	<a href="/#/users/{{match.label}}">
	   <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>
</script>
