<form ng-show="isLoggedIn() && !editing.current[1]" class="addPost">
	<textarea class="form-control" type="text" placeholder="Chia sẻ điều gì đó..." ng-model="newtitle" ng-keyup="logNewTitle()" rows="3"></textarea>
	<br>
	<div class="input-group">
		<input class="form-control" type="text" placeholder="Link (nếu có)" ng-model="newlink">
		<span class="input-group-btn"><button class="btn btn-primary" ng-click="addPost()">Đăng</button></span>
	</div>
	<div ng-show="error!==''">
		<br>
		<p class="text-danger">{{error}}</p>
	</div>
</form>
<div ng-hide="isLoggedIn()">
  <h3>Bạn cần <a href="/#/login">đăng nhập</a> hoặc <a href="/#/register">đăng kí</a> để có thể đăng bài.</h3>
</div>
<hr>
<% include viewPosts.ejs %>





