<div class="page-header post">
	<p>
		<a href="{{post.link}}" title="{{post.link}}" ng-show="post.link" target="_blank">{{post.title}}</a>
		<span ng-hide="post.link">{{post.title}}</span>
	</p>
	<p>
		<span class="small">
			<span class="text-muted">đăng bởi</span> 
			<span ng-if="post.author!==currentUser()" class="small"><a ng-href="/#/users/{{post.author}}">{{post.author}}</a>,</span>
			<span ng-if="post.author===currentUser()" class="small"><a ng-href="/#/users/{{currentUser()}}">bạn</a>,</span>
		</span>
		<span class="text-muted small">lần cuối cập nhật: {{post.date | date: 'HH:mm - MMM dd, yyyy'}}</span>
		<span class="pull-right small">
			<span ng-if="post.comments.length==0">Chưa có bình luận nào!</span>
			<span ng-if="post.comments.length>0">{{ post.comments.length + ' bình luận' }}</span>
		</span>
	</p>
</div>

<div class="col-xs-11 col-xs-offset-1">
	<ul class="list-unstyled">
		<li dir-paginate="comment in post.comments | itemsPerPage:10" ng-mouseover="canEditAndDelete=true" ng-mouseleave="canEditAndDelete=false">
			<p>
				<span class="glyphicon glyphicon-thumbs-up" tooltip="{{likeTooltipText(comment)}}" ng-click="like_unlikeComment(post, comment)"></span>
				{{comment.usersLiked.length}} &nbsp;
				<span class="glyphicon glyphicon-thumbs-down" tooltip="{{dislikeTooltipText(comment)}}" ng-click="dislike_undislikeComment(post, comment)"></span>
				{{comment.usersDisliked.length}} &nbsp;
				{{comment.body}}
			</p>
			<p>
				<span class="small">
					<span class="text-muted"> đăng bởi</span> 
					<span ng-if="comment.author!==currentUser()"><a ng-href="/#/users/{{comment.author}}">{{comment.author}}</a>,</span>
					<span ng-if="comment.author===currentUser()" class="text-muted"><a href="/#/users/{{currentUser()}}">bạn</a>,</span>
				</span>
				<span class="small text-muted">lần cuối cập nhật: {{comment.date | date: 'HH:mm, dd/MM/yyyy' }}</span>
				<span class="pull-right small" ng-if="comment.author===currentUser() && canEditAndDelete">
					<a href="" ng-click="editComment(post, comment)">Sửa</a> &nbsp;&nbsp; <a href="" ng-click="deleteComment(post,comment)">Xóa</a>
				</span>
			</p>
			<hr>
		</li>
	</ul>
	<dir-pagination-controls boundary-links="true" on-page-change="moveToTop()" template-url="/javascripts/helper/dirPaginate.tpl.html"></dir-pagination-controls>
</div>

<div ng-hide="isLoggedIn()">
  <h3>Bạn cần <a href="/#/login">đăng nhập</a> hoặc <a href="/#/register">đăng kí</a> để có thể bình luận.</h3>
</div>

<form class="input-group" ng-show="isLoggedIn()" style="margin-top: 30px;">
	<input type="text" class="form-control" placeholder="Viết bình luận..." ng-model="body" id="commentInput">
	<span class="input-group-btn" ng-if="button.name==='Comment'"><button class="btn btn-primary" ng-click="addComment()">Bình luận</button></span>
	<span class="input-group-btn" ng-if="button.name==='Save'">
		<button class="btn btn-primary" ng-click="save(post, comment)">Lưu</button>
		<button class="btn btn-default" ng-click="reset()">Hủy</button>
	</span>
</form>
<br>
<span ng-if="error" class="text-danger">{{error}}</span>
