<div class="page-header post">
	<p>
		<a href="{{post.link}}" title="{{post.link}}" ng-show="post.link" target="_blank">{{post.title}}</a>
		<span ng-hide="post.link">{{post.title}}</span>
	</p>
	<p>
		<span class="small">
			<span class="text-muted">by</span> 
			<span ng-if="post.author!==currentUser" class="small"><a ng-href="/#/users/{{post.author}}">{{post.author}}</a></span>
			<span ng-if="post.author===currentUser" class="small"><a ng-href="/#/users/{{currentUser}}">you</a></span>
		</span>
		<span class="text-muted small">at {{post.date | date: 'HH:mm - MMM dd, yyyy'}}</span>
		<span class="pull-right small">
			<span ng-if="post.comments.length==0">Be the first to comment</span>
			<span ng-if="post.comments.length==1">1 comment</span>
			<span ng-if="post.comments.length>1">{{ post.comments.length + ' comments' }}</span>
		</span>
	</p>
</div>

<div class="col-xs-11 col-xs-offset-1">
	<div ng-repeat="comment in post.comments" ng-mouseover="canEditAndDelete=true" ng-mouseleave="canEditAndDelete=false">
		<p ng-controller="NavCtrl">
			<span class="glyphicon glyphicon-thumbs-up" tooltip="{{likeTooltipText(comment)}}" ng-click="like_unlikeComment(post, comment)"></span>
			{{comment.usersLiked.length}} &nbsp;
			<span class="glyphicon glyphicon-thumbs-down" tooltip="{{dislikeTooltipText(comment)}}" ng-click="dislike_undislikeComment(post, comment)"></span>
			{{comment.usersDisliked.length}} &nbsp;
			{{comment.body}}
			<span class="small">
				<span class="text-muted"> &nbsp;by</span> 
				<span ng-if="comment.author!==currentUser"><a ng-href="/#/users/{{comment.author}}">{{comment.author}}</a></span>
				<span ng-if="comment.author===currentUser" class="text-muted"><a href="/#/users/{{currentUser}}">you</a></span>
			</span>
			<span class="small text-muted">at {{comment.date | date: 'HH:mm - MMM dd, yyyy' }}</span>
			<span class="pull-right small" ng-if="comment.author===currentUser() && canEditAndDelete">
				<a href="" ng-click="editComment(post, comment)">Edit</a> &nbsp;&nbsp; <a href="" ng-click="deleteComment(post,comment)">Delete</a>
			</span>
		</p>
		<hr>
	</div>
</div>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>

<form class="input-group" ng-show="isLoggedIn()" style="margin-top: 30px;">
	<input type="text" class="form-control" placeholder="Enter something to comment" ng-model="body">
	<span class="input-group-btn" ng-if="button.name==='Comment'"><button class="btn btn-primary" ng-click="addComment()">Comment</button></span>
	<span class="input-group-btn" ng-if="button.name==='Save'">
		<button class="btn btn-primary" ng-click="save(post, comment)">Save</button>
		<button class="btn btn-default" ng-click="reset()">Cancel</button>
	</span>
</form>
<br>
<span ng-if="error" class="text-danger">{{error}}</span>