<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form ng-submit="changePassword()" class="form-group">
			<h3>Thay đổi mật khẩu</h3>
			<hr>
			<input type="password" class="form-control" placeholder="Mật khẩu hiện tại" ng-model="user.currentPassword">
			<br>
			<input type="password" class="form-control" placeholder="Mật khẩu mới" ng-model="user.newPassword">
			<br>
			<input type="password" class="form-control" placeholder="Nhập lại mật khẩu" ng-model="user.verifyNewPassword">
			<br>
			<button type="submit" class="btn btn-primary">Lưu</button>
		</form>
		<br>
		<span class="text-danger" ng-if="messages.error">{{messages.error}}</span>
		<span class="text-success" ng-if="messages.success">{{messages.success}}</span>
	</div>
</div>