<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<form ng-submit="register()" class="form-group">
			<h3>Đăng kí tài khoản</h3>
			<hr>
			<input type="text" class="form-control" placeholder="Tên người dùng" ng-model="user.username">
			<br>
			<input type="password" class="form-control" placeholder="Mật khẩu" ng-model="user.password">
			<br>
			<input type="password" class="form-control" placeholder="Nhập lại mật khẩu" ng-model="user.verifyPass">
			<br>
			<button type="submit" class="btn btn-primary">Đăng kí</button>
		</form>
		<br>
		<span class="text-danger">{{messages.error}}</span>
	</div>
</div>
